body{
  
    font-family: 'Courier New', Courier, monospace;
   padding-top:8%;
    font-size:20px;
    color: white;
    background-size:cover; 
    background-repeat: no-repeat;
   
    background-image: url('back.jpg');
}
.page{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: black;
    opacity: 0.8;
    height: 400px;
    align-items: center;
    border-radius:9px; 
}
.main{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#img{
   
    margin-top: 14px;
}
.temp-div{
    display: flex;
    flex-direction: row;
}
.day{
    width: 185px;
    line-height: 1.3;
}
.day-div{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
.day-div span{
    font-weight: bold;
}
#temp{
    margin-top: 14px;
    font-size: 38px;
    font-weight: bold;
}
.location{
    padding-top: 16px;
}
.location div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width:225px;
    height: 40px;
}
select{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    padding-left:25px;
}
nav{
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.weekday-item{
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
   line-height: 1.6;
}

.weekday-item:hover{
   cursor: pointer;
}
.weekday-item.active{
    background-color: darkgray;
}

